html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  font-family: 'Open Sans', sans-serif;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  background-color: hsl(34, 44%, 73%);
  color: hsl(0, 0%, 100%);
	line-height: 1;
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background: hsl(34, 44%, 30%);
  border-radius: 0.5rem;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

::placeholder { 
  color: white;
  opacity: 1; 
}

:-ms-input-placeholder { 
  color: white;
}

::-ms-input-placeholder {
  color: white;
}

input:focus { 
	outline: none !important;
}

.notepad::-webkit-scrollbar {
  width: 5px;
}
.notepad::-webkit-scrollbar-track {
  background: transparent;
}
.notepad::-webkit-scrollbar-thumb {
  background: hsl(34, 44%, 30%);
  border-radius: 0.5rem;
}

.notepad:focus-visible {
	outline: none;
}

/* ======================================================== */

h1 {
	position: relative;
  font-family: 'Amatic SC', cursive;
	font-size: 50px;
	width: fit-content;
	margin: 5vh auto 2vh auto;
}

h1::after {
	content: '♡';
	position: absolute;
	top: 0;
	right: -30px;
	font-size: 30px;
}

h2 {
	position: relative;
  font-family: 'Amatic SC', cursive;
	font-size: 40px;
	margin: 5vh 3vw;
}

h2::after {
	content: '';
	position: absolute;
	bottom: -10%;
	left: 0;
	width: 30%;
	width: 350px;
	height: 2px;
	background-color: white;	
}

.greeting {
	position: relative;
	border: 5px solid white;
	border-radius: 40px;
	width: 50vw;
	padding-bottom: 40px;
	margin: 2vh auto auto auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#clock {
  font-family: 'Gruppo', cursive;
	width: fit-content;
	margin: auto;
	font-size: 55px;
}

#today-date {
  font-family: 'Gruppo', cursive;
	width: fit-content;
	margin: auto;
	font-size: 30px;
}

.add-todo-group, .add-todo-group-future {
	margin: 10px 3vw 15vh 3vw;
}

#todo-input-task, 
#todo-input-date, 
#todo-input-task-future, 
#todo-input-date-future,
#todo-input-deadline-future {
	font-size: 16px;
  color: hsl(0, 0%, 100%);
	background-color: transparent;
	padding: 10px;
	border-radius: 10px;
	border: 2px solid hsl(34, 44%, 30%);
}

#todo-input-date, 
#todo-input-date-future,
#todo-input-deadline-future {
	width: 70px;
}

#add-trigger, #add-trigger-future {
	cursor: pointer;
	border-radius: 40px;
	padding: 10px;
	background-color: hsl(34, 44%, 30%);
	color: white;
	border: none;
}

.todo-display {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
}

div {
	width: auto;
	word-break: break-all;
}

span {
  margin-left: 10px;
}

p {
  font-family: 'Open Sans', sans-serif;
	position: relative;
	font-size: 30px;
	margin: 0 auto 25px auto;
}

p::after {
	content: '♡';
	position: absolute;
	top: 4px;
	right: -25px;
	font-size: 20px;
}

p::before {
	content: '♡';
	position: absolute;
	top: 4px;
	left: -25px;
	font-size: 20px;
}

.input-section {
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
}

.todo-group {
	position: relative;
	display: flex;
	flex-direction: column;
	border: 5px solid hsl(34, 44%, 30%);
	border-radius: 10px;
	width: 340px;
	font-size: 20px;
	margin: 5vh 0 5vh 3vw;
	padding: 20px 0 10px 0;
}

.todo-wrapper {
	display: flex;
	position: relative;
	padding: 5px 20px;
}

.todo-name {
	max-width: 230px;
	word-break: keep-all;
}

.todo-del, .todo-group-del {
	cursor: pointer;
	position: absolute;
	top: 8px;
	right: 15px;
	background-color: transparent;
	border: none;
}

.todo-del {
	opacity: 0;
}

.todo-del:hover {
	opacity: 1;
}

.todo-wrapper::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 15%;
	width: 237.5px;
	height: 2px;
	background-color: hsl(34, 44%, 30%);
}

.checkbox {
	margin-right: 15px;
}

.brown-tape {
	position: absolute;
	top: -40px;
	left: 97.5px;
	height: 70px;
	width: 150px;
}

.notepad {
	border: 5px solid hsl(34, 44%, 30%);
	border-left: 5px dashed hsl(34, 44%, 30%);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	display: block;
	font-size: 22px;
	line-height: 50px;
	padding: 11px 20px 0 70px;
	resize: none;
	height: 300px;
	width: 350px;
	margin: 0 12vw 0 3vw;

	background-image: -moz-linear-gradient(top , transparent, transparent 49px,#E7EFF8 0px), -moz-radial-gradient(4% 50%, circle closest-corner, #f5f5f5, #f5f5f5 39%, transparent 0%), -moz-radial-gradient(3.9% 46% , circle closest-corner, #CCCCCC, #CCCCCC 43.5%, transparent 0%); 
	background-image: -webkit-linear-gradient(top , transparent, transparent 49px,#E7EFF8 0), -webkit-radial-gradient(4% 50%, circle closest-corner, #f5f5f5, #f5f5f5 39%, transparent 0%), -webkit-radial-gradient(3.9% 46%, circle closest-corner, #cccccc, #cccccc 43.5%, transparent 0%);

	-webkit-background-size:  100% 50px;
	background-size: 100% 50px;
}

.bg-input {
	position: absolute;
	top: 0;
	left: 0;
	background-color: transparent;
	border: 2px solid hsl(34, 44%, 30%);
	width: 50px;
}

#img-button {
	visibility: hidden;
}

.change-font {
	width: 30px;
}

#font-btn {
	position: absolute;
	top: 10px;
	left: 10px;
	cursor: pointer;
	background-color: transparent;
	border: none;
}

@media only screen and (max-width:720px) {
	h1 {
		font-size: 8vmin;
	}	

	#clock {
		font-size: 6vmin;
	}

	#today-date {
		font-size: 6vmin;
	}

	.input-section {
		flex-direction: column;
	}

	.greeting {
		width: 60vw;
	}

	.todo-display {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}

	.change-font {
		width: 20px;
	}
}